@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<h1 style="color:purple">@ViewData["Title"]</h1>

<div class="text-center">
<br />
<h2>Ihlamur sokak Menekşe Apt. No:5</h2>
<h2>Çankaya ANKARA</h2>
<h2>E-posta adresimiz</h2>
<h3><a href="mailto:yta.iletisim@gmail.com">yta.iletisim@gmail.com</a></h3>
</div>